@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "404";
 
}


    <div class="wrapper-page">
        <div class="ex-page-content text-center">
            <h1>404!</h1>
            <h2>شما به این قسمت سایت دسترسی ندارید</h2><br>
            
            
            <br>
            <a class="btn btn-purple waves-effect waves-light" asp-page="/Index"><i class="fa fa-angle-left"></i>  بازگشت</a>
        </div>
    </div>


  

