@page
@model ServiceHost.Pages.ChangePasswordUserModel
@{
    
}
<form method="post" asp-page-handler="ChangePasswordUser">
    <div class="login-form">
        <h4 class="login-title">تغییر رمزعبور</h4>
        <div class="row">
            <div class="col-md-4 col-4">
                <label>رمزعبور</label>
                <input type="text" name="Password" placeholder="رمزعبور">

                <label>تاییدرمزعبور</label>
                <input type="text" name="RePassword" placeholder="تاییدرمزعبور">

                <input type="hidden" name="Mobile"value="" id="mobilenumber">
                <input type="hidden" name="ActiveCode"value="" id="Activecode">

                <div class="col-md-2" style="margin-right:28px">
                    <button class="register-button" onclick="url()" >تایید</button>
                </div>
            </div>
            

        </div>
    </div>

</form>

<script>
        function url() {
          
        var link = window.location.href.toLowerCase();
           var activecode1 = link.split("#")[0];
            var activecode = activecode1.split("=")[1];
        var mobile = link.split("#")[1];

        $("#mobilenumber").val(mobile);
        $("#Activecode").val(activecode);
     
    };
   
</script>