@page
@model ServiceHost.Pages.ForgetpasswordModel
@{
}



<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                              
                                <form  method="post" asp-page-handler="ForgetPassword">
                                    <div class="login-form">
                                        <h4 class="login-title">تغییر رمزعبور</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label>شماره موبایل</label>
                                                <input type="text" name="Mobile" placeholder="شماره موبایل">

                                            </div>
                                            
                                            <div class="col-md-12">
                                                <button class="register-button">ارسال کد</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


